<%= stylesheet_link_tag "//localhost:3000/assets/format.css" %>

<div>
  <table>
    <tr>
      <th rowspan="2" colspan="2"><h2>Currency converter</h2></th>
    </tr>
    <tr>
    </tr>
    <tr>
      <td style="text-align:center"><h2><%= params[:amount] %> <%= params[:fromCurr]%> converts to <%= sprintf('%.2f', @result) %> <%= params[:toCurr] %> </h2></td>
    </tr>
    <tr>
      <td><%= link_to 'New conversion', converts_url, :remote => true %></td>
    </tr>
    <tr>
      <td><button type="button" id="exit">X</button></td>
    </tr>
  </table>
</div>

