<%= stylesheet_link_tag "//localhost:3000/assets/format.css" %>

<div>
<%= form_tag converts_url, :method=>'post', :remote => true do %>
   <table>
     <tr>
       <th rowspan="2" colspan="2"><h2>Currency converter</h2></th>
     </tr>
     <tr>
     <tr>
       <td>Amount: <%= number_field_tag 'amount' %></td>
     </tr>
     <tr>   
       <td>From Currency: <%=  base_currency_code_select("from_currency") %></td>
       <td>To Currency: <%=  base_currency_code_select("to_currency") %></td>
     </tr>  
     <tr>
       <td>Date: <%= date_field_tag 'date', Time.new.strftime('%Y-%m-%d') %></td>
     </tr>  
     <tr>
       <td><%= submit_tag "Convert" %></td>
      </tr>
      <tr>
        <td><button type="button" id="exit">X</button></td>
      </tr> 
    </table> 
<% end %>  
</div>

